[submodule ".config/nvim/plugged/vim-airline"]
	path = .config/nvim/plugged/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule ".config/zsh/plugins/zsh-autosuggestions"]
	path = .config/zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule ".config/zsh/plugins/zsh-history-substring-search"]
	path = .config/zsh/plugins/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search
[submodule ".config/zsh/plugins/zsh-syntax-highlighting"]
	path = .config/zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule ".config/nvim/plugged/vim-gnupg"]
	path = .config/nvim/plugged/vim-gnupg
	url = https://github.com/jamessan/vim-gnupg
[submodule ".config/nvim/plugged/YouCompleteMe"]
	path = .config/nvim/plugged/YouCompleteMe
	url = https://github.com/ycm-core/YouCompleteMe
